<div class="general-block-decorator">
    <div class="row">
        <div class="col-md-12">
            <div class="title title-without-tabs">
                {intl l="Search" d="bosearch.bo.default"}
            </div>

            {form name='order-search-form'}
                <form action="{url path='/admin/module/bosearch/order-search'}" method="post">

                    {form_hidden_fields form=$form}

                    <div class="row">
                        <div class="col-md-3">
                            {form_field form=$form field="ref"}
                                <div class="form-group">
                                    <label class="control-label" for="{$label_attr.for}">
                                        {$label}
                                    </label>

                                    <input type="text" id="{$label_attr.for}" class="form-control" name="{$name}" value="{$value}" />
                                </div>
                            {/form_field}
                        </div>

                        <div class="col-md-3">
                            {form_field form=$form field="invoiceRef"}
                                <div class="form-group">
                                    <label class="control-label" for="{$label_attr.for}">
                                        {$label}
                                    </label>

                                    <input type="text" id="{$label_attr.for}" class="form-control" name="{$name}" value="{$value}" />
                                </div>
                            {/form_field}
                        </div>

                        <div class="col-md-3">
                            {form_field form=$form field="company"}
                                <div class="form-group">
                                    <label class="control-label" for="{$label_attr.for}">
                                        {$label}
                                    </label>

                                    <input type="text" id="{$label_attr.for}" class="form-control" name="{$name}" value="{$value}" />
                                </div>
                            {/form_field}
                        </div>

                        <div class="col-md-3">
                            {form_field form=$form field="customer"}
                                <div class="form-group">
                                    <label class="control-label" for="{$label_attr.for}">
                                        {$label}
                                    </label>

                                    <input type="text" id="{$label_attr.for}" class="form-control" name="{$name}" value="{$value}" />
                                </div>
                            {/form_field}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            {form_field form=$form field="paymentModule"}
                                <div class="form-group">
                                    <label class="control-label" for="{$label_attr.for}">
                                        {$label}
                                    </label>

                                    <select multiple class="selectpicker" name="{$name}" id="{$label_attr.for}">
                                        {loop type='module' name='payment-modules' module_type=3}
                                            <option value="{$ID}" {if $ID|in_array:$value}selected{/if}>{$TITLE}</option>
                                        {/loop}
                                    </select>
                                </div>
                            {/form_field}
                        </div>

                        <div class="col-md-3">
                            {form_field form=$form field="status"}
                                <div class="form-group">
                                    <label class="control-label" for="{$label_attr.for}">
                                        {$label}
                                    </label>

                                    <select multiple class="selectpicker" name="{$name}" id="{$label_attr.for}">

                                        {* Handle labels *}
                                        {assign var='labels' value=[
                                            'order_not_paid' => 'warning',
                                            'order_paid' => 'success',
                                            'order_processing' => 'primary',
                                            'order_sent' => 'info',
                                            'order_canceled' => 'danger',
                                            'order_refunded' => 'order-refunded-color']
                                        }

                                        {loop type='order-status' name='order-status'}

                                            {assign "orderStatusCode" "order_$CODE"}

                                            {if $labels[$orderStatusCode] != NULL}
                                                {assign "defaultLabel" ''}
                                                {assign "orderStatusLabel" $labels[$orderStatusCode]}
                                            {else}
                                                {assign "defaultLabel" "label-default"}
                                                {assign "orderStatusLabel" $CODE}
                                            {/if}

                                            <option value="{$ID}" {if $ID|in_array:$value}selected{/if} data-content="<span class='label {$defaultLabel} label-{$orderStatusLabel}'>{$TITLE}</span>">{$TITLE}</option>
                                        {/loop}
                                    </select>
                                </div>
                            {/form_field}
                        </div>

                        <div class="col-md-3">
                            {form_field form=$form field="orderDateMin"}
                                <div class="form-group">
                                    <label class="control-label" for="{$label_attr.for}">
                                        {$label}
                                    </label>

                                    <div class="input-group">
                                        <input type="text" id="{$label_attr.for}" class="form-control is-calendar-input" name="{$name}" value="{$value}" />
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                    </div>
                                </div>
                            {/form_field}
                        </div>

                        <div class="col-md-3">
                            {form_field form=$form field="orderDateMax"}
                                <div class="form-group">
                                    <label class="control-label" for="{$label_attr.for}">
                                        {$label}
                                    </label>

                                    <div class="input-group">
                                        <input type="text" id="{$label_attr.for}" class="form-control is-calendar-input" name="{$name}" value="{$value}" />
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                    </div>
                                </div>
                            {/form_field}
                        </div>
                    </div>

                    {hook name='bosearch.order-search.form'}

                    <button class="btn btn-info" type="submit">{intl l='Search' d='bosearch.bo.default'}</button>

                    <button class="btn btn-xs btn-default pull-right" id="clear-selection" type="button">{intl l='Clean selection' d='bosearch.bo.default'}</button>

                </form>
            {/form}
        </div>
    </div>
</div>