{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
  {$admin_current_location = 'bosearch-product'}
{/block}

{block name="page-title"}{intl l='Search products' d='bosearch.bo.default'}{/block}

{block name="check-resource"}admin.module{/block}
{block name="check-access"}view{/block}
{block name="check-module"}BoSearch{/block}

{block name="main-content"}
  <div id="wrapper" class="container">

    {if $general_error}
      <div class="alert alert-danger">
        {$general_error}
      </div>
    {/if}

    <div class="general-block-decorator">
      <div class="row">
        <div class="col-md-12">
          <div class="title title-without-tabs">
            {intl l='Search' d='bosearch.bo.default'}
          </div>

          {form name='product-search-form'}
            <form id="formSearchProduct" action="{url path='/admin/module/bosearch/product-search'}" method="post">

              {form_hidden_fields form=$form}

              <div class="row">
                <div class="col-md-3">
                  {form_field form=$form field="product_id"}
                    <div class="form-group">
                      <label class="control-label" for="{$label_attr.for}">
                        {$label}
                      </label>

                      <input type="text" id="{$label_attr.for}" class="form-control" name="{$name}" value="{$value}" />
                    </div>
                  {/form_field}
                </div>

                <div class="col-md-3">
                  {form_field form=$form field="ref"}
                    <div class="form-group">
                      <label class="control-label" for="{$label_attr.for}">
                        {$label}
                      </label>

                      <input type="text" id="{$label_attr.for}" class="form-control" name="{$name}" value="{$value}" />
                    </div>
                  {/form_field}
                </div>

                <div class="col-md-3">
                  {form_field form=$form field="category"}
                    <div class="form-group">
                      <label class="control-label" for="{$label_attr.for}">
                        {$label}
                      </label>

                      <select multiple class="selectpicker" name="{$name}" id="{$label_attr.for}">
                        {loop type='category' name='categories-list' order='alpha'}
                          <option value="{$ID}" {if $ID|in_array:$value}selected{/if}>{$TITLE}</option>
                        {/loop}
                      </select>
                    </div>
                  {/form_field}
                </div>

                <div class="col-md-3">
                  {form_field form=$form field="is_visible"}
                    <div class="form-group">
                      <label class="control-label" for="{$label_attr.for}">
                        {$label}
                      </label>

                      <select class="selectpicker" name="{$name}" id="{$label_attr.for}">
                          <option value="all" {if $value == 'all'}selected{/if}>{intl l='All' d='bosearch.bo.default'}</option>
                          <option value="yes" {if $value == 'yes'}selected{/if}>{intl l='Yes' d='bosearch.bo.default'}</option>
                          <option value="no" {if $value == 'no'}selected{/if}>{intl l='No' d='bosearch.bo.default'}</option>
                      </select>
                    </div>
                  {/form_field}
                </div>

              </div>

              <h4>{intl l='Attribute combinations criteria' d='bosearch.bo.default'}</h4>

              <p>{intl l='The following fields are related to the attribute combinations of a product. If at least one attribute combination of a product is matching the following criteria, the product will be displayed.' d='bosearch.bo.default'}</p>

              <div class="row">

                <div class="col-md-3">
                  {form_field form=$form field="is_new"}
                  <div class="form-group">
                    <label class="control-label" for="{$label_attr.for}">
                      {$label}
                    </label>

                    <select class="selectpicker" name="{$name}" id="{$label_attr.for}">
                      <option value="all" {if $value == 'all'}selected{/if}>{intl l='All' d='bosearch.bo.default'}</option>
                      <option value="yes" {if $value == 'yes'}selected{/if}>{intl l='Yes' d='bosearch.bo.default'}</option>
                      <option value="no" {if $value == 'no'}selected{/if}>{intl l='No' d='bosearch.bo.default'}</option>
                    </select>

                  </div>
                  {/form_field}
                </div>

                <div class="col-md-3">
                  {form_field form=$form field="is_promo"}
                  <div class="form-group">
                    <label class="control-label" for="{$label_attr.for}">
                      {$label}
                    </label>

                    <select class="selectpicker" name="{$name}" id="{$label_attr.for}">
                      <option value="all" {if $value == 'all'}selected{/if}>{intl l='All' d='bosearch.bo.default'}</option>
                      <option value="yes" {if $value == 'yes'}selected{/if}>{intl l='Yes' d='bosearch.bo.default'}</option>
                      <option value="no" {if $value == 'no'}selected{/if}>{intl l='No' d='bosearch.bo.default'}</option>
                    </select>

                  </div>
                  {/form_field}
                </div>

                <div class="col-md-3">
                  {render_form_field field="stock_min"}
                </div>

                <div class="col-md-3">
                  {render_form_field field="stock_max"}
                </div>

              </div>


              {* Hidden field for pagination *}

              {form_field form=$form field="page"}
                {$product_page=$value|default:1}
                <input id="jsPaginationFormInput" name="{$name}" type="hidden" value="1" />
              {/form_field}

              {hook name='bosearch.product-search.form'}

              <button class="btn btn-info" type="submit">{intl l='Search' d='bosearch.bo.default'}</button>

              <button class="btn btn-xs btn-default pull-right" id="clear-selection" type="button">{intl l='Clean selection' d='bosearch.bo.default'}</button>

            </form>
          {/form}
        </div>
      </div>
    </div>
    <div class="general-block-decorator">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>{intl l='ID' d='bosearch.bo.default'}</th>
                <th>{intl l='Ref' d='bosearch.bo.default'}</th>
                <th>{intl l='Title' d='bosearch.bo.default'}</th>
                <th>{intl l='Default category' d='bosearch.bo.default'}</th>
                <th>{intl l='Price' d='bosearch.bo.default'}</th>
                <th>{intl l='Visible' d='bosearch.bo.default'}</th>
              </tr>
            </thead>
            <tbody>
              {if $search}
                {loop type='product' name='searched-products' limit=20 page=$product_page}
                  <tr>
                    <td>{$ID}</td>
                    <td>
                      <a href="{url path='/admin/products/update' product_id=$ID}">{$REF}</a>
                    </td>
                    <td>{$TITLE}</td>
                    <td>{loop type='category' name='parent-category' id=$DEFAULT_CATEGORY}{$TITLE}{/loop}</td>
                    <td>{format_money number=$BEST_PRICE}</td>
                    <td>{$VISIBLE}</td>
                  </tr>
                {/loop}
              {/if}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    {if $search}

    <div class="text-center">
      <ul class="pagination pagination-centered">
        {$max_page_count=10}
        {pageloop rel='searched-products' limit=$max_page_count}
          {$prev_page = $PREV}
          {$next_page = $NEXT}
          {$last_page = $LAST}
          {$has_prev  = $CURRENT > 1}
          {$has_next  = $CURRENT < $LAST}

          {$has_pages_after = $END < $LAST && $LAST > $max_page_count}
          {$has_pages_before = $START > 1}

          {if $PAGE == $START}
          {if $has_prev}
            <li><a class="jsPaginationLink" title="{intl l="Go to first page"}" href="#" data-page="1">&laquo;</a></li>
            <li><a class="jsPaginationLink" title="{intl l="Go to previous page"}" href="#" data-page="{$prev_page}">&lsaquo;</a></li>

            {if $has_pages_before}
              <li title="{intl l="More pages before"}" class="disabled"><a href="#">&hellip;</a></li>
            {/if}

            {else}
              <li class="disabled"><a href="#">&laquo;</a></li>
              <li class="disabled"><a href="#">&lsaquo;</a></li>
            {/if}
          {/if}

          {if $PAGE != $CURRENT}
            <li><a class="jsPaginationLink" href="#" data-page="{$PAGE}">{$PAGE}</a></li>
          {else}
            <li class="active"><a href="#">{$PAGE}</a></li>
          {/if}

          {if $PAGE == $END}
            {if $has_next}
              {if $has_pages_after}
                <li title="{intl l="More pages after"}" class="disabled"><a href="#">&hellip;</a></li>
              {/if}

              <li><a class="jsPaginationLink" title="{intl l="Go to next page"}" href="#" data-page="{$next_page}">&rsaquo;</a></li>
              <li><a class="jsPaginationLink" title="{intl l="Go to last page"}" href="#" data-page="{$last_page}">&raquo;</a></li>

            {else}
              <li class="disabled"><a href="#">&rsaquo;</a></li>
              <li class="disabled"><a href="#">&raquo;</a></li>
            {/if}
          {/if}
        {/pageloop}
      </ul>
    </div>

    {/if}

  </div>
{/block}

{block name="javascript-initialization"}

  <script type="text/javascript">

    {literal}

    jQuery(function($){
      $('.jsPaginationLink').click(function(ev) {
        ev.preventDefault();
        document.getElementById('jsPaginationFormInput').value = this.dataset.page;
        $('#formSearchProduct').submit();
      });
    });

    {/literal}

  </script>

  {include file="assets/js/bo-search.html"}
{/block}