<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_2.xsd">
    <fullnamespace>BoSearch\BoSearch</fullnamespace>
    <descriptive locale="en_US">
        <title>Search customers, orders, products more precisely and more quickly.</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Recherche plus précisément et plus rapidement des clients, des commandes, des produits.</title>
    </descriptive>
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>1.1.6</version>
    <authors>
        <author>
            <name>Etienne Perriere</name>
            <email>eperriere@openstudio.fr</email>
        </author>
    </authors>
    <type>classic</type>
    <thelia>2.3.0</thelia>
    <stability>beta</stability>
</module>
